/* Обнуление стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Конец обнуления стилей */
.block {
    /* сначала отступ верхнего края, потом правый, снизу, слева.
    если указать только три значения, то первое будет сверху, второе - слева и справа, третье - снизу.
    Если тоько два, то первое - сверху и снизу, второе - слева и справа */
    padding: 10px 20px 30px 5px;
    /* тут можно давать отрицатеьные значения */
    margin: 20px;
    max-width: 500px;
    height: 200px;
    border: 1px solid black;
}

.block2 {
    max-width: 300px;
    height: 50px;
    /* поведение блока, если текст не помещается в него */
    overflow: auto;
    border: 1px solid blue;
    padding: 5px;
    margin-top: 10px;
}

.string {
    /* чтобы нормально работали свойства паддинги, марджинги и т.д.
    нужно добавлять этот параметр со своейством блок, который превращает
    строчные теги в блочные */
    display: block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    /* на строчные теги не действует */
    width: 500px;
}

.example-image {
    width: 100%;
    height: 700px;
    max-height: 1000px;
    max-width: 500px;
    min-width: 200px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 5%;
}