/* Обнуление стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Конец обнуления стилей */
body {
    padding: 30px;
}

/* div {
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
} */

.block {
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
    background: rgba(24, 181, 164, 0.1);
}

.block2 {
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
    background: url('IMG-1.png') 50% 50%/100% auto no-repeat;
}

.block3 {
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
    /* Old browsers */
    background: rgb(236, 232, 157);
    /* FF3.6-15 */
    background: -moz-linear-gradient(top, rgba(236, 232, 157, 1) 0%, rgba(94, 83, 115, 1) 50%, rgba(24, 181, 164, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, rgba(236, 232, 157, 1) 0%, rgba(94, 83, 115, 1) 50%, rgba(24, 181, 164, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, rgba(236, 232, 157, 1) 0%, rgba(94, 83, 115, 1) 50%, rgba(24, 181, 164, 1) 100%);
}